### 함수 II

#### asterisk (star) *, **

In [2]:
def print_arg(*args): #1.
    # 인자를 튜플로 묶어서 활용하는 역할
    print(*args) #2. 언패킹(튜플 -> 인자로)
    
print_arg('hey', 'hello', 'hi')

hey hello hi

In [9]:
def print_arg2(name, *args):
    print('obligatory',name)
    print(*args)
    
print_arg2('book', 1,2,3,4)
nums = (1,2,3,4)
print_arg2('book', nums)
print_arg2('book', *nums)

obligatory book
1 2 3 4
obligatory book
(1, 2, 3, 4)
obligatory book
1 2 3 4

#### 외부에서 활용하기
- 컬렉션 자료형 언패킹 출력 시
- zip()
- 키워드 전용 인수 선언
    - 별 뒤에 오는 매개변수들은 반드시 키워드 인수로 들어오도록 설정하는 역할
    - kargs와 혼선을 빚지 않기 위해

In [6]:
nums = list(range(5))
print(*nums)

0 1 2 3 4

In [7]:
a = [
    [1,2],
    [3,4],
    [5,6]
]

# 1,3,5 / 2,4,6 (열을 순회하고 싶다)
for row in zip(*a):
    print(row)

(1, 3, 5)
(2, 4, 6)

In [11]:
def print_data(data, *, starts, end): #starts, end -> start = 0
    for value in data[starts:end]:
        print(value)
        
print_data(nums, starts=1, end=3)

2
3

#### **

In [14]:
def print_kargs(**kargs): #딕셔너리로 묶는 기능
    print(kargs) # **는 언패킹 기능이 없어서 여기에는 쓰면 안됨.
    #print(kargs['wine'], 'is semi-sweet')
    
print_kargs(wine='merlot', dessert='cake')

{'wine': 'merlot', 'dessert': 'cake'}

In [15]:
wine_list = 'merlot cabernet crianza'.split()
for wine in wine_list:
    print_kargs(wine=wine, dessert='scone')

{'wine': 'merlot', 'dessert': 'scone'}
{'wine': 'cabernet', 'dessert': 'scone'}
{'wine': 'crianza', 'dessert': 'scone'}

In [17]:
def print_both(one, two, *args, **kargs): # 위치인수 > args > kargs
    print(one + two + sum(args))
    print(kargs)
    
print_both(1,2,3,4,5, one=1, two=2) # => first, second

TypeError: print_both() got multiple values for argument 'one'

### 딕셔너리 결합할 때 사용할 수 있다 (3.5이상)

In [18]:
x = {1: 'a', 2: 'b'}
y = {2: 'c', 3: 'd'}
z = {**x, **y}

In [19]:
z

{1: 'a', 2: 'c', 3: 'd'}

### 일급객체
- first class object / first class citizen
- 함수도 객체다.
- 함수의 인자로 전달 가능
- 반환값이 될 수 있다.
- 수정, 할당될 수 있다.

In [21]:
def answer():
    print(43)
    
def run_something(func): ## 파이썬에서만. 함수가 객체이므로
    func()

run_something(answer)

def run_anything(func):
    return func

run_anything(answer)() #괄호 => 실행

43
43

In [23]:
def sum_args(*args):
    return sum(args)

def run_with_positional_args(func, *args):
    return func(*args)

run_with_positional_args(sum_args, 1,3,4,5)

13

In [24]:
# 가변 인자, 불변 인자 => 초기화하지 않으면 변수 내용이 변할 수 있음
def func(num_list):
    # 변할 수 있음을 문서화할 것. 혹은 다른 방법 찾아볼 것
    sum_num = sum(num_list)
    num_list.append(sum_num)
    
a = [1,3,5]
func(a)

In [25]:
a

[1, 3, 5, 9]

In [26]:
func(a)

In [27]:
a

[1, 3, 5, 9, 18]

### 내부함수 => 다음주

### 익명함수 (람다)
- lambda
- 함수인데 이름이 없음 (def, return)
- 왜? 단순한 함수를 사용할 때 
- 단, 잦은 사용은 권장하지 않는다. => 직관적이지 않고 재활용 낮다.
- lambda x: <x를 요리할 코드>

In [29]:
#lambda x : x.lower()

def f(x):
    return x.lower()

f2 = lambda x: x.lower()
f2('OK')

'ok'

In [28]:
(lambda x: x.lower())('OK')

'ok'

In [30]:
f3 = lambda x,y: x + y
f3(5,5)

10

In [ ]:
# abc -> Abc!
# (lambda x:x[0].upper()+x[1]+x[2]+"!")