#### Ch02. Variables

### 자료형 변환하기
- int, str, float, bool

In [1]:
a = 10
type(a)

int

In [2]:
# int -> float
float(a)

10.0

In [4]:
# int -> str
str(a)

'10'

In [5]:
# int -> bool
bool(10)

True

In [6]:
# float -> int : Ex) 입력 값 : 10.6일때 => 정수형 변환 시 소수점 이하 값은 버려진다.
int(10.9)

10

In [7]:
x = 4.6
y = 7.9

# print(int(x + y))와 print(int(x) + int(y))의 다른 점

print(int(x + y)) # x + y의 값을 먼저 계산 후 정수 값으로 반환하고 출력.
print(int(x) + int(y)) # x와 y를 정수로 먼저 변환 후 더한 값을 출력.

12
11

In [10]:
# str -> int
p = '88.3'
float(p) # 88.3
int(float(p)) # 88

88

### 꿀팁(print())

In [11]:
print('orange', 'apple', 'tomato') #default : 띄어쓰기, 줄바꾸기
print('the next line')

orange apple tomato
the next line

In [14]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

print(orange + apple + tomato) # 연결 가능하지만 원소들 간의 공백이 사라진다.
print(orange, apple, tomato, sep = ' ' , end = '\n')

orangeappletomato
orange apple tomato

### Input ()

- 콘솔에서 사용자에게 값을 입력받는 함수
- 입력받는 값의 타입 : str (문자열)

In [1]:
input('How old are you?')

How old are you?21

'21'

In [5]:
hobby = input('what is your hobby?')
print(hobby)
type(hobby)

what is your hobby?soccer
soccer

str

In [7]:
age = int(input('how old are you?')) #int로 묶어줘야 연산이 가능해짐. input 안에 있는 값은 타입이 문자열이기 때문.
print('당신이 태어난 해는', 2022-age+1, '입니다.')

how old are you?21
당신이 태어난 해는 2002 입니다.

### format
- print(f'{variable}')

In [14]:
print(f'당신의 현재 나이는 {age}입니다.')

당신의 현재 나이는 21입니다.

In [15]:
current_year = 2022
birth_year = current_year - age + 1

print(f"당신이 태어난 해는 {birth_year} 입니다")

당신이 태어난 해는 2002 입니다

### Quiz 1: 택배 정보를 입력받고 무게에 따른 값 산정하기
- 수취인 주소:
- 수취인 성명:
- 배송비: 3000원
- 물건 비용: 무게 * 5원
- 합계: 배송비 + 물건 비용

In [19]:
address = input('주소를 입력하세요: ')
name = input('이름을 입력하세요: ')
weight = int(input('무게를 입력하세요: '))

shipping_fee = 3000
cost = weight * 5

total = shipping_fee + cost
print(total)

주소를 입력하세요: 구의동
이름을 입력하세요: 윤준서
무게를 입력하세요 900
7500

#### Ch03.  Numbers
 - Boolean
 - Integer
 - Floats
 - 
 
###   Boolean
 - True / False
 - False인 값
 - if문 (조건식): '만약 어떤 값이 True면' ....

In [15]:
bool(0)

False

In [1]:
bool(3)

True

In [2]:
bool()

False

### Integer
 - 분수나 소수가 아닌 정수를 뜻함.
 - 음수는 '-' 부호를 붙임. Ex) -50
 - default = 양수
 - 숫자 앞에는 0을 쓰지 못한다. i.e.,09
 - 숫자 사이에 쉼표(,)를 쓰면 오류 100,000(x) -> 100_000 숫자 사이의 언더바는 인식하지 않음.

In [17]:
a = 7 # '07'은 오류.

In [19]:
a = -32
b = 18 
a + b

-14

In [20]:
x = 9
y = 4

#연산자

x + y 
x - y
x * y
x / y #부동소수점
x ** y # 거듭제곱 exponential

6561

In [23]:
x = 42
y = 9
divmod(x, y) # return => (몫, 나누기)

(4, 6)

### Quiz 1.
- 반지름을 구해서 원의 면적 구하기
- 넓이 = pi * r의 제곱

In [23]:
radius = float(input('반지름: '))
pi = 3.14
area = radius * (pi ** 2)
print(area)

반지름: 54
532.4184

### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기

In [24]:
num = int(input('숫자 : '))
print(bool(num % 3))

숫자 : 7
True

### 부동소숫점 (파이선에서는 'floats')
- 부동소수점 숫자는 문자 e와 정수인 지수를 포함할 수 있음
- 명확성을 위해 언더바(_)를 사용해서 숫자를 구분할 수 있음
- 부동소수점 숫자는 +, -, *, /, //, **, %   연산자와 divmod() 함수를 사용할 수 있다는 점에서 정수와 비슷하게 처리
- 부동소수점 숫자로 타입 변환을 위해서 float() 함수를 사용. 이전에 본 것처럼 불리언 값을 정수처럼 간주한다.
- 정수에서 부동소수점 숫자로 변환할 때는 간단하게 소수점이 붙음

### Section 3.6 연습문제

- 3.1. 1시간은 몇 초인가? 

- 3.2. 계산한 결과 변수에 저장


- 3.3. 1일은 몇 초인가?  seconds_per_hour 변수 활용


- 3.4. 부동소숫점 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기


- 3.5. 정수 나눗셈 사용, 3.4 과정을 거치고 정수 자리가 같은 지 비교하기

In [25]:
60 * 60

24

In [26]:
seconds_per_hour = 60 * 60

In [27]:
seconds_per_day = seconds_per_hour *  24

In [28]:
seconds_per_day / seconds_per_hour

24.0

In [29]:
seconds_per_day // seconds_per_hour

24

### 지수 표현
- Ex) '1.0e-4'
- e의 앞부분은 소수 , 정수 모두 가능
- 뒷부분은 정수여야만 함.
- 뒷부분이 음수면 소숫점의 자릿수를 의미한다.
- e, E 모두 가능.

In [31]:
5009e-6

0.005009

#### Ch04. 조건문

### 코드 짜는 팁
- 주석 달기
    - # hash, sharp,  ..
    - # 시작 지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
    - """ """ : 긴 주석
    - 문자열 안에 있는 sharp는 부호로 인식
    - 이유? 코드에 대한 설명은 최대한 하지 않는다. 의도를 나타내기 위해, 오류가 있다거나 ...
 
 - 라인 유지하기
    - 들여쓰기 (default space 4개, 탭을 이용해서)
    - 논리 구조를 나타내기 때문에 굉장히 중요함.
    - 한 라인에 80자 정도 (백슬래시로 라인을 끊어준다)

### IF

if <조건식> : <실행할 코드>

In [32]:
if 4 != 8:
    print('No')

No

### if - else
if <조건식>:
    <실행할 코드1>
else:<실행할 코드2>

### 비교 연산자
- x < y
- x > y 
- x >= y
- x <= y
- x == y (값이 같음)
- x != y 
- x is y (값, 메모리주소)
- x is not y

### If - Elif - Else
if <조건식>:<실행할 코드1>elif<조건식2>:<실행할 코드2>else<실행할 코드3>

### 퀴즈
- 1. 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기
- 2. 시험 점수를 입력 받고, 95이상 A+, 90이상 A, 85이상 B+, 나머지 F로 출력하세요.

In [35]:
score1 = int(input('시험 점수: '))
if score1 >= 80:
    print('True')
else:
    print('False')

시험 점수: 80
True

In [38]:
score2 = int(input('시험 점수: '))
if score2 >= 95:
    print('A+')
elif score2 >= 90:
    print('A')
elif score2 >= 85:
    print('B+')
else:
    print('F')

시험 점수: 84
F